{% extends 'base.html.twig' %}

{% block header %}
<div class="headerHome">
    <div class="title">
        <h1 class="white-text">Bienvenue sur <span class="red-text">Fly</span><span class="white-text lighten-1">Around</span></h1>
    </div>
</div>
{% endblock %}
{% block content %}
       <h1>Routes disponibles :</h1>
       <ul>
           <li>
               <a href="{{ path('planemodel_index') }}">Voir les avions</a>
           </li>
           <li>
               <a href="{{ path('reservation_index') }}">Voir les reservations</a>
           </li>
           <li>
               <a href="{{ path('flight_index') }}">Voir les vols</a>
           </li>
           <li>
               <a href="{{ path('terrain_index') }}">Voir les terrains</a>
           </li>
           <li>
               <a href="{{ path('review_index') }}">Voir les reviews</a>
           </li>
       </ul>
{% endblock %}

