{% extends 'base.html.twig' %}

{% block content %}
    <h1>Reviews list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User rated</th>
                <th>Review author</th>
                <th>Publication date</th>
                <th>Note</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.userRated }}</td>
                <td>{{ review.reviewAuthor }}</td>
                <td>{% if review.publicationDate %}{{ review.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('review_new') }}">New</a>
        </li>
    </ul>

    
{% endblock %}
